*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-family: sans-serif;
}
.ginfo, .einfo, .exinfo{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.gdetails, .edetails, .exdetails{
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.gdetails > label, .edetails > label, .exdetails > label{
    align-self: flex-start;
    font-size: 1vw;
    font-family: inherit;
}
.gdetails > input, .edetails > input, .exdetails > input, .exdetails > textarea{
    height: 74%;
    width: 100%;
    padding: 5px;
    font-size: 1vw;
    border-radius: 5px;
    appearance: none;
    border: 2px solid darkgray;
}
.date, .date2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.miniDate1, .miniDate2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.date > label, .date2 > label{
    font-size: 1vw;
    font-family: inherit;
}
input[type="date"]{
    appearance: none;
    border: 2px solid darkgray;
    border-radius: 4px;
}