*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  min-height: 100%;
  width: 100%;
  display: flex;
  gap: 8vw;
}
.container{
  min-height: 120vh;
  width: 30vw;
}
.container2{
  min-height: 120vh;
  width: 60vw;
}
form{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  padding: 15px;
  gap: 15px;
}
.ginfo, .einfo, .exinfo, .about{
  max-height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding: 10px; */
}
.gdetails, .edetails, .exdetails, .adetails{
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.gdetails > label, .edetails > label, .exdetails > label, .adetails > label, .miniDate1 > label, .miniDate2 > label{
  align-self: flex-start;
  font-size: 1vw;
  font-family: inherit;
}
.gdetails > input, .edetails > input, .exdetails > input, .exdetails > textarea, .adetails > textarea, input[type="date"]{
  height: 74%;
  width: 100%;
  padding: 5px;
  font-size: 1vw;
  border-radius: 5px;
  appearance: none;
  border: 2px solid darkgray;
}
.date, .date2{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
}
.miniDate1, .miniDate2{
  height: 45%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn{
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}
button{
  height: 65%;
  width: 45%;
  border: 2px solid darkgray;
  font-family: inherit;
  font-size: 1vw;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: white;
}